<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="<%=require('assets/favicon.png')%>" type="image/png" sizes="32x32" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <title>Huddle Landing Page</title>
  </head>
  <body class="container__main disable-transitions">
    <main class="container__flex">
      <section class="hero">
        <img class="hero__logo" src="<%=require('assets/logo.svg')%>" alt="logo" />
        <img class="hero__illustration" src="<%=require('assets/illustration.svg')%>" alt="main illustration"/>
        <div class="hero__message">
          <h1 class="hero__headline">
          Build the community <span class="lg:block">your fans will love</span>
          </h1>
          <p class="hero__text">
            Huddle re-imagines the way we build communities. You have a voice, but so does your audience. Create
            connections with your users as you engage in genuine discussion.
          </p>
          <!-- Could't extracted this utilities. The postcss compiler fails when I try to extracted them with @apply -->
          <button class="hero__button xl:hover:transition-all xl:active:transition-all xl:hover:font-bold" onclick="window.location.href='<%=__webpack_public_path__%>404.html'">
            Register
          </button>
        </div>
      </section>
      <footer class="hero__social">
        <% ['fa-facebook', 'fa-twitter-square', 'fa-instagram-square'].forEach( (socialIcon) => { %>
        <a href="<%=__webpack_public_path__%>404.html" class="hero__social__icon lg:hover:transition-all lg:active:transition-all"><i class="fab <%= socialIcon %>"></i></a> 
        <% }) %>
      </footer>
    </main>
    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded",function(){
        document.querySelector('.disable-transitions').classList.remove('disable-transitions');
      });
    </script></script>
  </body>
</html>
